*{
    box-sizing: border-box;
}
.conteinerNav{
    width: 40%;
    position: absolute;
    right: 0;
    margin-right: 18px;
}
.container-header{
    height: 90px;
}
.nav{
    position: absolute;
    right: 0;
    font-size: 22px;
}
.logo-img{
    width: 75%;
}


@media only screen and (max-width: 600px) {
    .container-header{
        height: 70px;
    }    
    .conteinerNav{
        width: 100%;
        margin: 0;
        position: relative;
    }
    .nav{
        font-size: 18px;
        margin-top: 10px;
        position: relative;
    }
    .navItem{
        border-bottom: 3px rgb(255, 251, 240) solid;
        width: 100%;        
    }
    .navbar1{
        z-index: 10;
        padding-left: 0;
        border-bottom: 0.5px black solid;
        background-color: white;
        display: flex;
        align-items: center;
    }
    .logo{
        width: 75%;
    }
    .container-fluid{
        padding: 0;
        display: flex;
    }
    .logo-img{
        width: 100%;
    }
}
