.img-carrousel{
    height: 500px;
    width: 100%;
}
.carrousel{
    width: 100%;
}
@media only screen and (max-width: 600px){
    *{
        box-sizing: border-box;
    }
    .img-carrousel{
        height: initial;
        margin-top: 20px;
        margin-bottom: 40px;
        padding-bottom: 20px;
    }
}