.img-obras{
    transition: all .5s ease-in-out;
}
.img-obras:hover{
    transform: scale(1.05);
}
.masonry-img{
    overflow: hidden;
}
@media only screen and (max-width: 600px){
    .img-obras{
        transition: none;
    }
    .img-obras:hover{
        transform: none;
    }
    .box-masonry{
        margin-bottom: 4em;
    }
}
